

@model List<school_mvc_dotnet.Models.Student>

@{
	ViewData["Title"]="Lista de Alunos";
	
}



<div class="text-center">

    <h1 class="display-4">Lista de Alunos Cadastrados</h1>
	


    <ul class="list ">
	@foreach(var  student in Model){
	 
      <li>Id:@student.Id</li>
	  <li>Name:@student.Name</li>
	  <li>lastName:@student.LastName</li>
	  <li>Sex:@student.Sex</li>
	}

	</ul>
   
</div>